:host {
    display: flex;
}

.image-wrapper {
    width: 38%;

    background-image: url('/assets/images/olivierlin7.jpg');
    background-size: cover;
    background-position-x: center;
}

app-form-contact {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .image-wrapper {
        display: none;
    }
}
