$min-width: 200px;
$max-width: 390px;
$height: 60px;

:host {
    display: block;

    min-width: $min-width;
    width: $min-width;
    max-width: $max-width;

    height: $height;
    line-height: $height;

    white-space: nowrap;

    background-color: var(--app-color-primary);

    text-align: center;
    color: var(--app-color-primary-contrast);

    font-size: 25px;
    font-family: 'WorkSansLight';

    transition: all 150ms ease-out;

    border: none;
    outline: none;
    user-select: none;

    cursor: pointer;

    &:hover {
        background-color: var(--app-color-secondary);
    }
}

@media screen and (max-width: 500px) {
    :host {
        height: 50px;
        line-height: 50px;

        width: 100%;

        font-size: 20px;
    }
}
